name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  PNPM_VERSION: 10
  NODE_VERSION: 22

jobs:
  build:
    name: Build & Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node:
          - 20.x
          - 22.x
          - 24.x
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: ${{ env.PNPM_VERSION }}
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
          cache: 'pnpm'
      - run: pnpm install --frozen-lockfile
      - run: pnpm format:check
      - run: pnpm build
      - run: pnpm lint
      - run: pnpm typecheck
